version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: education-manager
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/var/lib/mongodb
    restart: always

volumes:
  mongo_data:
